.container {
  margin-bottom: 12px;
  width: 268px;
  display: flex;
}

.container button {
  cursor: pointer;
  color: #414141;
  background-color: #CCC;
  font-size: 10px;
  height: 36px;
  width: 128px;
  margin-bottom: 4px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  border: 2px solid #aaa;
  border-radius: 2px;
  overflow:hidden;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.container button:not(:first-child) {
  margin-left: 10px;
}

.container button:hover:not(.invalid) {
  border: 2px solid #ddd;
}
.resolve:hover:not(.invalid) {
  background-color: #0EAA66;
  color: #eee;
}
.existing:hover {
  background-color: #aaa;
  color: #222;
}

.container button.invalid {
  cursor: not-allowed;
  color: #aaa;
}