.container {
  padding: 27px;
}

.count {
  color: #aaa;
  font-weight: bold;
  margin-bottom: 16px;
}

.target{
  margin-bottom: 27px;
}

.duplicates {

}

.showInvalid {
  font-size: 12px;
  margin-bottom: 8px;
}